@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    box-sizing: border-box;
}
